<div>
    <app-message-add [message]="messageForCreate"></app-message-add>
</div>
<div class="message-container">
    <div>
        <mat-list>
            <mat-list-item *ngFor="let message of messages" class="list-item">
                <mat-card class="example-card">
                    <div class="message-header">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>
                                <a [routerLink]="['/user/profile', message.authorId]">{{message.author.userName }}</a>
                            </mat-card-title>
                            <mat-card-subtitle>{{message.creatingTime}}</mat-card-subtitle>
                        </mat-card-header>
                    </div>
                    <div class="message-content">
                        <mat-card-content>
                            <p>
                                {{message.text}}
                            </p>
                        </mat-card-content>
                    </div>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </div>
</div>
       <!--<div class="comment">
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Input</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
            </form>
        </div>   --> 
  